<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/project.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <title>어드민</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Arno Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" th:href="@{/board/list}" class="nav-link" >게시판 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="text-align: center;">
<h2>Admin Table Layout</h2>
    </div>
<hr>
    <h2>MEMBER TABLE</h2>
    <div class="tableLayout">
        <table class="table">
            <colgroup>
                <col width="10%"/>
                <col width="20%"/>
                <col width="*"/>
                <col width="10%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>CreateTime</th>
                <th>ModifyTime</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="member : ${memberList}">
                <th scope="row">
                    <span th:text="${member.id}"></span>
                </th>
                <td>
                    <span th:text="${member.email}"></span>
                </td>
                <td>
                    <span th:text="${member.inputName}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(member.modifiedDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <h2>BOARD TABLE</h2>
    <div class="tableLayout">
        <table class="table">
            <colgroup>
                <col width="10%"/>
                <col width="20%"/>
                <col width="*"/>
                <col width="10%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>글쓴이</th>
                <th>생성시간</th>
                <th>수정시간</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="board : ${boardList}">
                <th scope="row">
                    <span th:text="${board.id}"></span>
                </th>
                <td>
                    <span th:text="${board.title}"></span>
                </td>
                <td>
                    <span th:text="${board.content}"></span>
                </td>
                <td>
                    <span th:text="${board.writer}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.insert_time, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.update_time, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <h2>BOARDFILE TABLE</h2>
    <div class="tableLayout">
        <table class="table">
            <colgroup>
                <col width="10%"/>
                <col width="20%"/>
                <col width="*"/>
                <col width="10%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>OrigFileName</th>
                <th>FileName</th>
                <th>FilePath</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="file : ${boardfileList}">
                <th scope="row">
                    <span th:text="${file.id}"></span>
                </th>
                <td>
                    <span th:text="${file.origFilename}"></span>
                </td>
                <td>
                    <span th:text="${file.filename}"></span>
                </td>
                <td>
                    <span th:text="${file.filePath}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>

</body>
</html>