<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <title>메인</title>
</head>
<body>

  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Arno Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a sec:authorize="isAuthenticated()" th:href="@{/board/list}" class="nav-link" >게시판 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내 정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--  Email :  <span th:text="${member.email}"></span> <br>-->
  <span th:text="${member.inputName}"></span> 환영합니다. <br>
  <hr>

  <div class="container">
    <div class="jumbotron">
      <h2>게시판</h2>
    </div>
    <div class="tableLayout">
      <table class="table">
        <colgroup>
          <col width="10%"/>
          <col width="20%"/>
          <col width="*"/>
          <col width="10%"/>
          <col width="20%"/>
        </colgroup>
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>내용</th>
          <th>글쓴이</th>
          <th>생성시간</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${postList}">
          <th scope="row">
            <span th:text="${post.id}"></span>
          </th>
          <td>
            <a th:href="@{'/post/' + ${post.id}}">
              <span th:text="${post.title}"></span>
            </a>
          </td>
          <td>
            <span th:text="${post.content}"></span>
          </td>
          <td>
            <span th:text="${post.writer}"></span>
          </td>
          <td>
            <span th:text="${#temporals.format(post.update_time, 'yyyy-MM-dd HH:mm')}"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <nav style="text-align: center;">
      <div style="text-align: right;">
        <button type="button" onclick="location.href='/board/info'">글쓰기</button>
      </div>
      <form action="/board/search" method="GET">
        <div>
          <input type="search" name="keyword"  placeholder="검색어를 입력해주세요">
          <button>검색하기</button>
        </div>
      </form>

      <div>
        <span th:each="pageNum : ${pageList}" th:inline="text">
            <a th:href="@{'/board/list'}">[[${pageNum}]]</a>
        </span>
      </div>

    </nav>

  </div>

</body>
</html>