<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>회원가입 페이지</title>
</head>
<body>
<form th:action="@{/user/signup}" method="post">
    <article class="container">
        <h1>회원 가입</h1>
        <hr>
        <div class="col-sm-6 col-md-offset-3">
                <div class="form-group">
                    <label for="inputName">성명</label>
                    <input class="form-control" name="inputName" id="inputName" placeholder="이름을 입력해 주세요">
                </div>
                <div class="form-group">
                    <label for="InputEmail">이메일 주소</label>
                    <input type="email" class="form-control" name="email" id="InputEmail" placeholder="이메일 주소를 입력해주세요">
                </div>
                <div class="form-group">
                    <label for="inputPassword">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="비밀번호를 입력해주세요">
                </div>
                <div class="form-group">
                    <label for="inputPasswordCheck">비밀번호 확인</label>
                    <input type="password" class="form-control" id="inputPasswordCheck" placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요">
                </div>

<!--                <div class="form-group">-->
<!--                    <label>약관 동의</label>-->
<!--                    <div data-toggle="buttons">-->
<!--                        <label class="btn btn-primary active">-->
<!--                            <span class="fa fa-check"></span>-->
<!--                            <input id="agree" type="checkbox" autocomplete="off" checked>-->
<!--                        </label>-->
<!--                        <a href="#">이용약관</a>에 동의합니다.-->
<!--                    </div>-->
<!--                </div>-->

                <div class="form-group text-center">
                    <button type="submit" id="join-submit" class="btn btn-primary">
                        회원가입<i class="fa fa-check spaceLeft"></i>
                    </button>
                    <button type="button"  onclick="location.href='/'" class="btn btn-warning">가입취소<i class="fa fa-times spaceLeft"></i></button>
                </div>
        </div>

    </article>
</form>

</body>
</html>